<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/2bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
	<a class="navbar-brand" href="/about">About us</a>
	<a class="navbar-brand" href="/products">Products</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="admin">
        <h1>About Us</h1>
	<img src = "store.jpeg">
	<p>Tindahan ni Aling Nena started in 1993, when Eleandre Buemdia - now a well-known musician, writer and director, went to a small sari-sari store near his house to buy vinegar. There, he saw Nenita Santos, the daughter of the sari-sari store owner, Aling Nena. Eleandre wanted to meet Nenita, but when he returned the week after, he found out that the family of Nenita already moved to Canada. </p>

	<p>Hoping to see Nenita again, Eleandre built another sari-sari store near the old one, and named it Tindahan ni Aling Nena. The popularity of the store grew when Eleandre Buendia's band, Pencilhands, released a song (titled after the store name) about Eleandre's tragic love storywith Nenita.  </p>

	<p>Now, Tindahan ni Aling Nena is growing to be one of the biggest sari-sari store, even having a website for online orders. Tindahan ni Aling Nena is also branching around the Philippines, striving to be the biggest sari-sari store in the country.  </p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

